In [1]:
!pip install pandas
!pip install numpy
!pip install matplotlib

Requirement already satisfied: pandas in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (1.26.0)
Requirement already satisfied: matplotlib in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (1.26.0)
Requirement already satisfied: packaging>=20.0 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/azaria.laras/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [5]:
import pandas as pd 
from matplotlib import pyplot as plt

In [14]:
jkt = pd.read_csv('../Data/jkt_clean.csv')
sby = pd.read_csv('../Data/sby_clean.csv')
dps = pd.read_csv('../Data/dps_clean.csv')

kl = pd.read_csv('../Data/kl_clean.csv')
sg = pd.read_csv('../Data/sg_clean.csv')
bkk = pd.read_csv('../Data/bkk_clean.csv')

nd = pd.read_csv('../Data/nd_clean.csv')
dhk = pd.read_csv('../Data/dhk_clean.csv')
yyg = pd.read_csv('../Data/yyg_clean.csv')

jkt.head(2)

,datetime_lst,datetime,t2m,stl3,stl4,sp,ssrd,strd,tcc,tp,...,sd,wdir10,ws10,ws100,r2m,alpha_sol,azimuth_sol,CF100,dhi,dni
0,5/1/23 0:00,4/30/23 17:00,25.8,28.4,27.9,100500,0,432,0.46,1.3,...,0,139,1.1,2.2,0.94,0.0,-3.06,0.0,0,0
1,5/1/23 1:00,4/30/23 18:00,25.5,28.4,27.9,100459,0,426,0.78,1.5,...,0,192,0.5,0.7,0.94,0.0,2.97,0.0,0,0